* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    width: 100vw;
    height: 100%;
    background-color: black;
}

.nav-menu {
    display: inline-block;
}

.nav-menu.open {
    display: block;
}

.link {
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}

.link.open {
    display: block;
    text-align: center;
}

.navlink {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-family: 'Baloo 2', cursive;
    font-size: 1.5rem;
    display: inline-block;
}

.home-link {
    color: white;
    text-decoration: none;
    font-family: 'Berkshire Swash', cursive;
    font-size: 2rem;
    margin: 0 10px;
}

.menu-button {
    color: white;
    position: absolute;
    right: 0;
    top: 5px;
    right: 30px;
    font-family: 'Baloo 2', cursive;
    font-size: 1.5rem;
    visibility: hidden;
    cursor: pointer;
}

.home-image {
    width: 100vw;
    height: 550px;
    object-fit: cover;
}

.welcome {
    text-align: center;
    padding-top: 20px;
    font-family: 'Baloo 2', cursive;
    font-weight: 800;
}

.danceheader{
    height: 250px;
    width: 100vw;
    background-image: url('../images/danceheader.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.page-header {
    color: white;
    font-family: 'Baloo 2', cursive;
    font-weight: 800;
    text-align: center;
    padding-top: 50px;
    font-size: 5rem;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

.drama-header {
    height: 250px;
    width: 100vw;
    background-image: url('../images/dramaheader.jpg');
    background-size: cover;
    background-repeat: no-repeat
}

.class-header {
    height: 250px;
    width: 100vw;
    background-image: url('../images/classheader.jpg');
    background-size: cover;
    background-repeat: no-repeat
}

.choir-header {
    height: 250px;
    width: 100vw;
    background-image: url('../images/choirheader.jpg');
    background-size: cover;
    background-repeat: no-repeat
}

.band-header {
    height: 250px;
    width: 100vw;
    background-image: url('../images/bandheader.jpg');
    background-size: cover;
    background-repeat: no-repeat
}

.post {
    width: 90%;
    margin: 30px auto;
    height: 100%;
}

.post h1, h2, h3, h4 {
    font-family: 'Baloo 2', cursive;
    padding: 20px;
}

.post p {
    font-family: 'Montserrat', sans-serif;
    width: 90%;
}

.post img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 800px;
    margin: 20px auto;
}

.iframe-container {
    position: relative;
    display: block;
    overflow: hidden;
    padding-top: 56.25%;
    width: 80%;
    margin: 20px auto;
}

.iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

footer {
    width: 100vw;
    height: 30px;
    background-color: black;
    position: fixed;
    bottom: 0;
}

@media (max-width: 950px) {

    .nav-menu {
        display: none;
    }

    .menu-button {
    visibility: visible;
    }
}