<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;800&family=Berkshire+Swash&family=Montserrat&display=swap" rel="stylesheet">    <title>Ms.Sanders Class</title>
</head>
<body>
    {% include nav.html %}
    {{content}}
    {% include footer.html %}
</body>
</html>